@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100&display=swap');

:root{
  --primary-black:rgb(22, 18, 18);
  --primary-orange:#f9ab00;
  --primary--dark: rgba(255,255,255 0);
  --primary-red:#f33501;
  --primary-hover-red:#0e0d0d;
}

body{
  font-family:sans-serif;
}
nav{
  z-index: 2;
}

.logo{
  width:50px;
}
.nav a.nav-link{
  letter-spacing:0.6px;
  cursor: pointer;
}

nav ul li{
  text-transform: uppercase;
}
.navbar-nav > li > a{
  margin-right: 12px;
  margin-left:12px;
  color: var(--primary-black) !important;
  border-top:  0.187rem  solid var(--primary-dark);
}
.navbar-brand{
  max-width: 17.25rem;
  padding:0 !important;
  height: 3rem !important;
}
@media(max-width: 768px){
   navbar-brand {
     width:7rem;
   }

}
.navbar-nav > li > a:active, .navbar-nav > li > a.active:focus{
  border-top: 0.187rem solid var(--primary-orange) ;
}
.navbar-nav > li > a:hover{
  border-top: 0.187rem solid var(--primary-orange) ;
}